.navbar {
  background-color: #979B8D;
  overflow: hidden;
}
.navbar .navbar-brand img {
  height: 50px;
  width: 50px;
  float: left;
  margin: 5px;
  display: block;
}
.navbar .username-label {
  float: left;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 20px;
  display: block;
  margin-right: auto;
  color: #EFD0CA;
}
.navbar .username-label:hover {
  color: #000000;
}
.navbar .search-form {
  float: right;
  display: flex;
}

.site-footer {
  background-color: #979B8D;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  font-family: "Lucida Console", Courier, monospace;
  color: black;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #EFD0CA;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #EFD0CA;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #eb6969;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #EFD0CA;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #d54545;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.my-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Body styles */
body {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.profile-sec {
  background-image: linear-gradient(#EFD0CA, #979B8D);
}

.profile-container {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
}
.profile-container .content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 25px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}
.profile-container .content h6 {
  color: #979B8D;
}
.profile-container .content img {
  width: 300px;
  padding: 2px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.profile-container .content .button-container {
  display: block;
  gap: 1em;
}
.profile-container .content a {
  color: #979B8D;
  font-size: 18px;
}
.profile-container .content a:hover {
  color: #EFD0CA;
}
.profile-container .content .btn {
  background-color: #e8e4e4;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  margin: 2px;
  width: 100%;
  color: #000;
  font-family: "Lucida Console", Courier, monospace;
  height: 30px;
}
.profile-container .content .delete:hover {
  box-shadow: 0px 5px 5px #b2bec3;
  background-color: #EFD0CA;
  color: #979B8D;
}
.profile-container .content .edit:hover {
  box-shadow: 0px 5px 5px #b2bec3;
  background-color: #979B8D;
  color: #EFD0CA;
}

@media (max-width: 380px) {
  .content .image img {
    width: 200px;
    height: 200px;
  }
}/*# sourceMappingURL=profile.css.map */